/* UTILITIES */

[class^="container"] {
  border: 1px dashed black;
  background-color: lightblue;
  /* min-height: 80vh; */
}

[class^="row"] {
  border: 1px dashed red;
}

[class^="col"] {
  /* height: 100px; */
  background-color: #f1d2e7;
  border: 1px solid #d0a8eb;
}

/* HEADER */

.sony-header {
  background-color: black;
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.sony-header img {
  width: 6.5rem;
}
