/* UTILITIES */

.container-debug {
  border: 1px dashed black;
  background-color: lightblue;
  /* min-height: 80vh; */
}

.row-debug {
  border: 1px dashed red;
}

.col-debug {
  /* height: 100px; */
  background-color: #f1d2e7;
  border: 1px solid #d0a8eb;
}

/* GENERAL */

.btn-custom {
  font-weight: 600;
  border-radius: 20px;
}

.btn-orange {
  background-color: #cd3d0f;
  color: white;
}

.btn-orange:hover {
  background-color: #b1360d;
}

.nolimits {
  font-size: 0.8rem;
  font-weight: 500;
}

.p-buy-now {
  font-size: 0.9rem;
  font-weight: 500;
}

/* HEADER */

.sony-header {
  background-color: black;
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.sony-header img {
  width: 6.5rem;
}

/* JUMBOTRON */
#jumbotron {
  width: 100%;
  height: 40rem;
  background-image: url("../img/jumbo-bg.png");
  background-position: center;
}

.jumbotron-container {
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
}

/* NEW GAME POSSIBILITY */
.play-station-text {
  text-align: center;
  font-size: 0.9rem;
}

/* IT TAKE TWO */

#it-takes-two {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  width: 100%;
  min-height: 40rem;
  background-position: center;
  background-size: cover;
}

/* NEW RELEASES */

#new-releases {
  background-color: #1f1f1f;
}

.new-releases-text {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
}
