/* UTILITIES */

.container-debug {
  border: 1px dashed black;
  background-color: lightblue;
  /* min-height: 80vh; */
}

.row-debug {
  border: 1px dashed red;
}

.col-debug {
  /* height: 100px; */
  background-color: #f1d2e7;
  border: 1px solid #d0a8eb;
}

/* RESET */

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

/* GENERAL */

.nolimits {
  font-size: 0.8rem;
  font-weight: 500;
}

.p-0-9 {
  font-size: 0.9rem;
  font-weight: 500;
}

/*? BUTTONS */

.btn-custom {
  font-weight: 500;
  border-radius: 20px;
}

.btn-orange {
  background-color: #cd3d0f;
  color: white;
}

.btn-orange:hover {
  background-color: #b1360d;
}

.btn-grey {
  background-color: #d9dadc;
}

.btn-grey:hover {
  background-color: #f2f2f3;
}

/*! MEDIA QUERY */

/* MEDIA LG */
@media (min-width: 768px) {
  .ps5-thumb {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
  }
  .ps5-thumb > img {
    width: 5rem;
  }
}
@media (min-width: 1200px) {
  .w-lg-1-3 {
    width: calc(100% / 3);
  }
}

/* HEADER */
#sony-header img {
  height: 12px;
}

.nav-lens-btn {
  width: 1.3rem;
}

/* JUMBOTRON */
#jumbotron {
  background-image: url("../img/jumbo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbotron > .container {
  min-height: 70vh;
}

/* GAME CARDS */
.card-active {
  padding: 2px;
  border: 2px solid rgb(13 110 253);
  border-radius: 18px;
}

.custom-card {
  padding: 2px;
}

.custom-card:hover {
  border: 2px solid rgb(13 110 253);
  border-radius: 18px;
}

/* NEW GAME POSSIBILITY */
#new-possibility {
  margin-bottom: 1rem;
}

.thumb-active {
  border-bottom: 2px solid rgb(13 110 253);
}

.thumb-border {
  opacity: 0.5;
}

.thumb-border:hover {
  border-bottom: 2px solid rgb(13 110 253);
  opacity: 1;
}

/* IT TAKE TWO */
#it-takes-two {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  width: 100%;
  min-height: 50vh;
  background-position: center;
  background-size: cover;
}
/* NEW RELEASES */
#new-releases {
  background-color: #1f1f1f;
}

.new-releases-text {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
}

/* PLAYSTATION PLUS */
#playstation-plus {
  background-color: rgb(168, 168, 168);
}

/* PLAYSTATION NOW */
#playstation-now {
  background-color: #161c3b;
}

/* FOOTER */
footer {
  min-height: 50vh;
  background-color: #00439c;
  color: white;
  padding: 4rem 0;
}

.footer-play-logo {
  width: 5rem;
}

.footer-language-globo {
  width: 1rem;
}
